<form method="post" >
    <div class="card">
        <div class="card-header">
            New Category
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtName" >Category Name</label>
                <input type="text" name="catName" id="txtName" class="form-control" placeholder="LapTop"  />
            </div>
        </div>
        <div class="card-footer">
            <a href="/admin/categories" class=" btn btn-outline-success" role="button" >
                <i class="bi bi-skip-backward-fill"></i> List  
            </a>
            <button  class=" btn btn-primary" type="submit"  >
                <i class="bi bi-check2"></i> Add  
            </button>
        </div>
    </div>
</form>