<h1>Edit Tag</h1>
<form method="post" action="/admin/tags/edit/{{tag.id}}">
  <div class="card">
    <div class="card-header">Edit Tag</div>
    <div class="card-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          value="{{tag.name}}"
          required
        />
      </div>
      <div class="form-group">
        <label for="slug">Slug</label>
        <input
          type="text"
          name="slug"
          id="slug"
          class="form-control"
          value="{{tag.slug}}"
          required
        />
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" type="submit">Save</button>
      <a href="/admin/tags" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </div>
</form>

